:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

body {
  margin: 0;
  padding: 0;
}

/* home neon banner */
/* .neon-blue {
  text-shadow: 0 0 8px #3b82f6, 0 0 12px #3b82f6;
}
.neon-red {
  text-shadow: 0 0 8px #f87171, 0 0 12px #f87171;
} */
button{
  cursor: pointer;
}